## Series mthods

In [1]:
import numpy as np
import pandas as pd

In [10]:
# with 1 col
subs = pd.read_csv('subs.csv')
subs = subs.squeeze('columns')
# print(type(subs))
# print(subs)  

# with 2 col
vk = pd.read_csv('kohli_ipl.csv', index_col='match_no')
vk = vk.squeeze('columns')    # dataframe to series e convert korlo
# print(vk)

# with 3 col  -> ekhane index movie and values lead actor
movies = pd.read_csv('bollywood.csv', index_col='movie')
movies = movies.squeeze('columns')
print(movies)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [11]:
# head and tail
print(subs.head(3))
print(subs.tail(3))

# sample -> random one row
print(vk.sample(4))

0    48
1    57
2    40
Name: Subscribers gained, dtype: int64
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64
match_no
71     51
207     0
215     7
25      7
Name: runs, dtype: int64

In [4]:
# value_counts -> freq count / ekta value kotobar repeat hocce
print(movies.value_counts())

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [5]:
print(movies.sort_values())    # sort holo value er base kore
print(movies.sort_values(ascending=False))    # sort holo value er base kore
# inplace=True diye actual array ke sort kora jay

print(movies.sort_values(ascending=False).head(1))
print(movies.sort_values(ascending=False).head(4).values[1])

print(movies.sort_index())   # index=movie col er wise sort

movie
Qaidi Band                            Aadar Jain
Roar: Tigers of the Sundarbans      Aadil Chahal
Lipstick Under My Burkha            Aahana Kumra
Raat Gayi Baat Gayi?                Aamir Bashir
Talaash: The Answer Lies Within       Aamir Khan
                                        ...
Dil Toh Deewana Hai                  Zeenat Aman
Sallu Ki Shaadi                      Zeenat Aman
Strings of Passion                   Zeenat Aman
Dunno Y... Na Jaane Kyon             Zeenat Aman
Taj Mahal: An Eternal Love Story     Zulfi Sayed
Name: lead, Length: 1500, dtype: object
movie
Taj Mahal: An Eternal Love Story     Zulfi Sayed
Dil Toh Deewana Hai                  Zeenat Aman
Strings of Passion                   Zeenat Aman
Sallu Ki Shaadi                      Zeenat Aman
Dunno Y... Na Jaane Kyon             Zeenat Aman
                                        ...
Fanaa (2006 film)                     Aamir Khan
Raat Gayi Baat Gayi?                Aamir Bashir
Lipstick Under My Burkha            Aahana Kumra
Roar: Tigers of the Sundarbans      Aadil Chahal
Qaidi Band                            Aadar Jain
Name: lead, Length: 1500, dtype: object
movie
Taj Mahal: An Eternal Love Story    Zulfi Sayed
Name: lead, dtype: object
Zeenat Aman
movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

In [14]:
# astype
import sys
print(sys.getsizeof(vk))
print(sys.getsizeof(vk.astype('int16')))

3472
2182

In [19]:
# between 
print(vk[vk.between(95, 100)].size)
print(vk[vk.between(95, 100)])

3
match_no
82      99
120    100
164    100
Name: runs, dtype: int64

In [25]:
# clip
# print(subs.clip(100, 200))

In [27]:
# duplicate ace kina
print(subs.duplicated())  # duplicate kina check
print(subs.duplicated().sum())  # duplicate kotogula ta count
# drop duplicate
print(subs.drop_duplicates())   #value er duplicate gulake drop kore
# print(subs.drop_duplicates(keep='last'))   # duplicate drop only last take rakhe
# print(subs.drop_duplicates(keep='first'))   # duplicate drop only first take rakhe

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362     True
363    False
364     True
Name: Subscribers gained, Length: 365, dtype: bool
185
0       48
1       57
2       40
3       43
4       44
      ...
357    177
359    209
360    231
361    226
363    144
Name: Subscribers gained, Length: 180, dtype: int64

In [ ]:
# isnull
vk.isnull().sum()
# dropna
vk.dropna()   # null value drop korbe

vk.fillna(0)   # shb missing/null ke 0 diye fill korbe

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [ ]:
# isin
vk[vk.isin([49, 99])]

match_no
82    99
86    49
Name: runs, dtype: int64

In [33]:
# apply **
subs.apply(lambda x: 'good day' if x>subs.mean() else 'bad day')

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object

In [34]:
# copy  -> shudu head korle ref store so head wala te change korle original teo change hoy -> eta problem
vk.head().copy()

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

### Series Math methods

In [ ]:
# count -> misisng value count kore na
print(vk.count())

# sum -> total values
print(subs.sum())
print(subs.prod())

215
49510
0

In [7]:
# mean / median / mode / std / var
print(subs.mean())
print(subs.median())
print(subs.mode())
print(subs.std())
print(subs.var())

135.64383561643837
123.0
0    105
Name: Subscribers gained, dtype: int64
62.67502303725269
3928.1585127201556

In [8]:
# min / max
print(subs.min())
print(subs.max())

33
396

In [ ]:
# describe  -> summary ene dibe
print(vk.describe())
print(subs.describe())

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64
count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64